{% load static %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="mx-auto btn p-2 px-4 p-sm-block btn-lg bg-primary">
            <div class="display-6"><span span style="color: black; font-weight: bold;">Training</span></div>
        </a>
        <a class="mx-auto btn p-2 px-4 btn-lg bg-primary">
            <div class="display-6"><span span style="color: black; font-weight: bold;">Visualization</span></div>
        </a>
        <a class="mx-auto btn p-2 px-4 btn-lg bg-primary">
            <div class="display-6"><span span style="color: black; font-weight: bold;">Tools</span></div>
        </a>
        <a class="mx-auto btn p-2 px-4 btn-lg bg-success">
            <div class="display-6"><span span style="color: black; font-weight: bold;">Documentation</span></div>
        </a>
    </div>
</nav>

{% endblock %}