{% load static %}

{% block content %}

<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="mx-auto btn p-2 px-4 p-sm-block btn-lg bg-secondary">
            <div class=""><span span style="color: white; font-weight: bold;">Training</span></div>
        </a>
        <a href="{% url 'gui_visualization' %}" class="mx-auto btn p-2 px-4 btn-lg bg-secondary">
            <div class=""><span span style="color: white; font-weight: bold;">Visualization</span></div>
        </a>
        <a class="mx-auto btn p-2 px-4 btn-lg bg-secondary">
            <div class=""><span span style="color: white; font-weight: bold;">Tools</span></div>
        </a>
        <a class="mx-auto btn p-2 px-4 btn-lg bg-secondary d-none d-md-block">
            <div class=""><span span style="color: white; font-weight: bold;">Documentation</span></div>
        </a>
    </div>
</nav>

{% endblock %}