.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* scroll smoothly */
html {
  scroll-behavior: smooth;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.showPasswordToggle {
  cursor: pointer;
  transition: all;
}

.showPasswordToggle:hover {
  transform: scale(1.2);
}

/* Home page */

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&family=Merriweather:wght@300&family=Source+Sans+Pro&display=swap');


.layout-social .layout-icon {
  font-size: 2em;
}

.layout-social .layout-icon:hover {
  transform: scale(1.2);
}


.mynav {
  background-color: var(--techdana-headerfooterbg);
}

.nav-item {
  font-size: larger;
  color: white !important;
}

.nav-item:hover {
  transform: scale(1.1);
}

.logo:hover {
  transform: scale(1.1);
}

.card-title-emphasis {
  color: var(--techdana-bodybg);
  font-weight: bold;
}

.card {
  border-radius: 0.5rem;
}

.card:hover {
  transform: scale(1.05);
}

.badge-dark {
  background-color: var(--techdana-badgebg);
}


/* Card Columns */

@media (min-width: 34em) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

}

@media (min-width: 48em) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }

}

@media (min-width: 62em) {
  .card-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 3;
  }
}

@media (min-width: 75em) {
  .card-columns {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 4;
  }
}

@media (min-width: 90em) {
  .card-columns {
    -webkit-column-count: 6;
    -moz-column-count: 6;
    column-count: 5;
  }
}

.card-columns {
  background-color: var(--techdana-bodybg);
}



/* map  */
.map-container-5 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container-5 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  margin-top: 1rem;
  position: absolute;
}


#my_picture {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 5%;
}

#contactme {
  /* background-color: var(--techdana-bodybg); */
  background-color: whitesmoke;
  margin-top: 1rem;
}


#landing-bg {
  background: url('/static/img/sem.jpg') 50% 0 fixed;
  color: white;
  height: 1500px;
  padding: 100px 0 0 0;
}

body {
  font-size: 1rem;
}

.biography {
  background-color: var(--techdana-bodybg);
}

.my-text {
  color: var(--techdana-text);
}

.callforaction {
  background-color: #980661;
}

.my-nav-item {
  text-shadow: indigo;
}