{% extends 'base.html' %}
{% load static %}
{% block title %}
Welcome
{% endblock %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="container">
        <h2 class="">About CardioVision</h2>
        <p class="mt-3 text-justified">
            CarioVision is an AI-Powered Cross-platform application capable of reconstruct, visualize, and alazye medical images.
        </p>
    </div>
    <div class="container mt-5">
        <h2 class="">Quick Start</h2>
        <p class="mt-3 text-justified">
            Explain what every module does briefly
        </p>
    </div>
</div>
{% endblock %}